<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players Data</title>
</head>

<body>
    <div class="content-area">
        <div>
            <h1>
                Players Details
            </h1>
        </div>
            <div>
                <table id="players_View_Form">
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                           <th>
                               Gender
                            </th>
                                <th>
                                    Age
                                </th>
                                   <th>
                                      Email
                                    </th>
                                        <th>
                                            Cricket
                                        </th>
                                             <th>
                                                Football
                                            </th>
                                                <th>
                                                    Kabadi
                                                </th>
                                                    <th>
                                                        Volleyball
                                                    </th>
                                                        <th>
                                                            Hockey
                                                        </th>
                    </tr>
                    </thead>
                    <tbody id="playersDetails"> 

                    </tbody>
                </table>
            </div>
    </div> 

    <div>
        <button type="button" onclick="DisplayPlayersMethods.AddDetails()">Add Details</button>
    </div> 
    
    <script src="./../../assets/js/Student/ShowStudents.js"></script>
</body>
</html>